<form id="form-trabalho" enctype="multipart/form-data">
    <div class="form-group">
        <label>Título do Trabalho</label>
        <input type="text" name="TITULO" id="TITULO" class="form-control">
    </div>
    <div class="form-group row">
        <div class="col-12 col-md-6">
            <label>Ano</label>
            <input type="number" name="ANO" id="ANO" class="form-control">
        </div>
        <div class="col-12 col-md-6">
            <label>Nro. Páginas</label>
            <input type="number" name="NROPAGINAS" id="NROPAGINAS" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label>Resumo</label>
        <textarea name="RESUMO" id="RESUMO" cols="30" rows="5" class="form-control"></textarea>
    </div>
    <div class="form-group row">
        <div class="col-12 col-md-6">
            <label>Orientador</label>
            <input type="texte" name="ORIENTADOR" id="ORIENTADOR" class="form-control">
        </div>
        <div class="col-12 col-md-6">
            <label>Co-orientador</label>
            <input type="text" name="COORIENTADOR" id="COORIENTADOR" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label>Autor/Autores</label>
        <input type="text" name="AUTOR" id="AUTOR" class="form-control" placeholder="Digite o nome do autor...">
    </div>

    <div class="form-group" id="autores">


    </div>
    <div class="form-group" id="result">

    </div>

    <div class="form-group">
        <form action="src/trabalho/model/arquivos-trabalho.php" method="POST" enctype="multipart/form-data">
            <label>Arquivo</label>
            <input type="file" name="ARQUIVO" id="ARQUIVO" class="form-control">
        </form>
    </div>

    <input type="hidden" name="IDTRABALHO" id="IDTRABALHO">
</form>


<script src="src/trabalho/controller/find-usuario.js"></script>